<div *ngIf="true">
  
<div class="flex" *ngFor="let category of categories">
  <div class="contourCard card largCard flex">
    <img
      class="card-img-top d-flex justify-content-center taillePhoto "
      src="assets/parfum/p1.jpg"
      width="250px"
      alt="Card image cap"
    />
    <div>{{category.typescard}}</div>
    <div class="card-body text-center adpateText">
      <h5 class="card-title">{{category.title}}</h5>
      <p class="card-text">
       {{category.description}}
      </p>
      <a href="#" class="btn btn-primary">En savoir +</a>
    </div>
  </div>
</div>
</div>
