.adpateText {
  width: 320px;
  padding: 20px;
}
.contourCard {
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 2px 2px 10px #050505, -2px -2px 10px #050505;
}
.taillePhoto {
  padding-top: 2vw;
  padding: 2vw;
  width: 25vh;
}
