<div class="container mt-50 ">
  <h2 class="titre centerTexte">Titre du test</h2>

   <div class="column">
    <div class="flex flex-direction: row row pb-50">
      <div class="contourCard card largCard">
        <div>
          <h5 class="etape">emballage</h5>
          <img
            class="card-img-top d-flex taillePhoto"
            src="assets/parfum/p1.jpg"
            width="250px"
            alt="Card image cap"
          />
        </div>

        <div class="card-body adpateText">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.  <br>        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.
          </p>
        </div>
      </div>
    </div>
  </div>

   <div class="column">
    <div class="flex flex-direction: row row pb-50">
      <div class="contourCard card largCard">
        <div>
          <h5 class="etape">produit</h5>
          <img
            class="card-img-top d-flex taillePhoto"
            src="assets/parfum/p1.jpg"
            width="250px"
            alt="Card image cap"
          />
        </div>
        <div class="card-body adpateText">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.  <br>        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.
          </p>
        </div>
      </div>
    </div>
  </div>

   <div class="column">
    <div class="flex flex-direction: row row pb-50">
      <div class="contourCard card largCard">
        <div>
          <h5 class="etape">efficacité</h5>
          <img
            class="card-img-top d-flex taillePhoto"
            src="assets/parfum/p1.jpg"
            width="250px"
            alt="Card image cap"
          />
        </div>
        <div class="card-body adpateText">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.  <br>        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.
          </p>
        </div>
      </div>
    </div>
  </div>

     <div class="column">
    <div class="flex flex-direction: row row pb-50">
      <div class="contourCard card largCard">
        <div>
          <h5 class="etape">durée</h5>
          <img
            class="card-img-top d-flex taillePhoto"
            src="assets/parfum/p1.jpg"
            width="250px"
            alt="Card image cap"
          />
        </div>
        <div class="card-body adpateText">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.  <br>        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.
          </p>
        </div>
      </div>
    </div>
  </div>

     <div class="column">
    <div class="flex flex-direction: row row pb-50">
      <div class="contourCard card largCard">
        <div>
          <h5 class="etape">bilan</h5>
          <img
            class="card-img-top d-flex taillePhoto"
            src="assets/parfum/p1.jpg"
            width="250px"
            alt="Card image cap"
          />
        </div>
        <div class="card-body adpateText">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.  <br>        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
